<div class="header_logo">
  Perfume shelf
</div>
<div class="header_button">
  <ul class="login_btn">
    <li><%= link_to 'login', "#", class: "login" %></li>
    <li><%= link_to 'sign up', "#", class: "sign_up" %></li>
  </ul>
</div>