<div class="header_logo">
  Perfume shelf
</div>
<div class="header_button">

  <% if user_signed_in? %>
    <ul class="login_btn">
      <li><%= link_to "logout", destroy_user_session_path, method: :delete, class: "logout header_btn" %></li>
      <li><%= link_to "new perfume", "#", class: "new_perfume header_btn" %></li>
    </ul>
  <% else %>
    <ul class="login_btn">
      <li><%= link_to "login", new_user_session_path, class: "login header_btn" %></li>
      <li><%= link_to "sign up", new_user_registration_path, class: "sign_up header_btn" %></li>
    </ul>
  <% end %>

</div>