<div class="wrapper">
  <div class="header">
    <%= render "header_perfume" %>
  </div>
  <div class="main_shelf">
    <div class="main_introduction">
      <%= render "main_perfume" %>
    </div>
    <div class="shelf">
      <%= render partial: "perfume", collection: @perfumes %>
    </div>
  </div>

  
</div>