.header {
  width: 100vw;
  height: 80px;
  background-color: #333631;
  padding: 15px 35px;
  display: flex;
  justify-content: space-between;
}

.main_shelf {
  background-color: #5a544b;
  width: 100vw;
  height: calc(100vh - 80px);
}

/**********************************
  ヘッダー
**********************************/
.header_logo {
  font-size: 35px;
  line-height: 50px;
  font-weight: bold;
}

.login {
  margin-right: 15px;
}

.logout {
  margin-right: 15px;
}

.header_btn {
  border: #fff solid 2px;
  font-size: 15px;
  height: 30px;
  width: 60px;
  color: #fff;
  padding: 5px 10px;
  text-decoration: none;
}

.login_btn {
  list-style: none;
  display: flex;
}

/********************************
  メイン
********************************/

.new_collection_logo {
  padding: 10px 100px 0 100px;
  height: 40px;
  color: #fff;
  font-size: 30px;
}

.greeting {
  padding: 30px 100px 0 100px;
  height: 60px;
  color: #fff;
  font-size: 30px;
}

.greeting_link {
  text-decoration: none;
  color: #fff;
}

