.wrapper {
  background-color: #5a544b;
  overflow: scroll;
}

.header {
  width: 100vw;
  height: 80px;
  background-color: #333631;
  padding: 15px 35px;
  display: flex;
  justify-content: space-between;
}

.main_shelf {
  background-color: #5a544b;
  width: 100vw;
  height: 100%;
}

/*  ヘッダー  */

.header_logo {
  font-size: 35px;
  line-height: 50px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.login {
  margin-right: 15px;
}

.logout {
  margin-right: 15px;
}

.header_btn {
  border: #fff solid 2px;
  font-size: 15px;
  height: 30px;
  width: 60px;
  color: #fff;
  padding: 5px 10px;
  text-decoration: none;
}

.login_btn {
  list-style: none;
  display: flex;
}

/*  メイン  */

.new_collection_logo {
  padding: 10px 100px 0 100px;
  height: 40px;
  color: #fff;
  font-size: 30px;
}

.greeting {
  padding: 30px 100px 0 100px;
  height: 60px;
  color: #fff;
  font-size: 30px;
}

.greeting_link {
  text-decoration: none;
  color: #fff;
}

/*  香水登録ページ  */

header { 
  width: 100vw;
  height: 80px;
  background-color: #333631;
  padding: 15px 35px;
  display: flex;
  justify-content: center;
}

.lineup_header {
  font-size: 35px;
  line-height: 50px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.perfume_lineup_main {
  text-align: center;
  background-color: #5a544b;
  width: 100vw;
  height: 100%;
  padding-bottom: 80px;
}

.perfume_lineup_main h2 {
  margin: 0;
  padding-top: 35px;
}

.perfume_details {
  width: 300px;
  margin: 0 auto;
  text-align: left;
}

.must {
  background-color: #c97586;
  font-weight: bold;
  border-radius: 4px;
  padding: 1px 2px;
}

.weight_bold_text {
  font-weight: 600;
  padding-bottom: 8px;
  padding-top: 20px;
}

.img_upload {
  display: flex;
  justify-content: center;
  padding-top: 35px;
}

.perfume_form {
  width: 300px;
}

.perfume_img {
  margin-right: 35px;
}

.perfume_name {
  padding-top: 35px
}

.select-box {
  width: 300px;
}

.text_form {
  height: 100px;
}

.lineup_btns {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.line_up_btn {
  width: 300px;
  height: 50px;
  margin-top: 35px;
  font-weight: bold;
  background-color: #f4b3c2;
  border: 1px solid #f4b3c2;
  cursor: pointer;
}

.back_btn {
  text-align: center;
  height: 40px;
}

/* トップページ香水一覧 */

.shelf {
  padding: 35px 100px;
  display: flex;
  
}

.card {
  width: 200px;
  height: 350px;
  text-align: right;
  margin-right: 20px;
}

.card_img {
  width: 200px;
  height: 300px;
}

.card_title {
  color: #fff;
  text-decoration: none;
  text-align: right;
}

.card_user {
  color: #fff;
  text-decoration: none;
}

/* 香水詳細ページ */

.perfume_detail {
  background-color: #5a544b;
  width: 100vw;
  height: 100vh;
  padding: 50px;
}

.details_wrapper {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 800px;
  height: 500px;
}

.perfume_detail_img {
  width: 300px;
  height: 450px;
  margin-right: 80px;
}

.details {
  width: 400px;
  height: 450px;
}

.details span {
  background-color: #a69abd;
  padding: 2px 8px;
  font-weight: bold;
}

.show_back_btn {
  background-color: #4d4c61;
  padding: 8px 15px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* 編集ページ関連 */

.show_edit_btn {
  background-color: #895b8a;
  padding: 8px 18px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 10px;
}

.show_destroy_btn {
  background-color: #895b8a;
  padding: 8px 18px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-top: 10px;
}

.show_edit_destroy {
  width: 200px;
  height: 30px;
  margin-top: 50px;
}

.show_back {
  width: 200px;
  height: 30px;
  margin-top: 20px;
}
